@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&family=Montserrat&family=Raleway:wght@100&family=Sofia+Sans:wght@600&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}
